html {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #415462;
  font-family: system-ui,-apple-system,"Segoe UI","Roboto","Ubuntu","Cantarell","Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";	
  scroll-snap-type: y mandatory;
}
html:has(section:target) {
  scroll-snap-type: none;
}
*,
*:before,
*:after{
  box-sizing:border-box;
}
body  {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
body section {
  display: grid;
  min-height: 50vh;
  place-content: center;
  scroll-snap-align: start;
  flex: 50%;
}
@media (max-width: 750px) {
 body section{
  flex: 100%;   
}
}
body section:target {
 min-height: 100vh;
 flex: 100%;
}
html:has(section:target) section:not(:target) {
  display: none;
}
h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  line-height: 56px;
  text-transform: none;
  letter-spacing: -2px;
  color: #505050;
  white-space: nowrap;
}
h1 span {
  font-size: 70px;
  vertical-align: middle;
}
h1 span:first-child {
  letter-spacing: -14px;
}
h1 span:nth-child(2) {
  position: relative;
  letter-spacing: -15px;
  z-index: 1;
}
h1 span:nth-child(3) {
  color: #c39f76;
  filter: blur(2px);
}
h1 span:nth-child(2):before {
  content: "";
  position: absolute;
  top: 10px;
  height: 28px;
  border-left: 1.5px solid #fff;
  border-top: 1.5px solid #fff;
  width: 44px;
  left: 2px;
  border-top-left-radius: 41px 24px;
}
h1 span:nth-child(2):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 4.5px;
  height: 37px;
  border-left: 1.5px solid #fff;
  z-index: 5;
}
body header {
  text-align: center;
  position: absolute;
  z-index: 9;
  inset: 0 0 auto;
  background: #fffe;
  box-shadow: 0 0 20px 30px #fffe;
  margin: auto;
  width: fit-content;
}
body header > * {
  margin: 5px;
}
body header h1 + p {
  text-indent: 120px;
  margin-top: -22px;
  font-size: 15px;
}
section button {
  border-radius: 5px;
  box-shadow: 0 0.125rem 1rem rgb(27 40 50 / 4%), 0 0.125rem 2rem rgb(27 40 50 / 8%), 0 0 0 0.0625rem rgb(27 40 50 / 2%);
  opacity: .85;
  margin: 1em;
  border: none;
  font-size: 1rem;
  padding: .85rem 1.5rem;
  cursor: pointer; 
}
section button:hover {
  opacity: 1;
}
section style {
  display: inline-block;
  font-size: 0;
  line-height: 1.4;
  cursor: text;
  white-space: pre;
}
a.tweet {
  background-color: #08769b;
  border-radius: 9999px;
  display: grid;
  place-content: center;
  width: 52px;
  height: 52px;
  position: fixed;
  left: 15px;
  bottom: 124px;
  box-shadow: rgb(0 0 0 / 40%) 0px 4px 8px;
}
.credit {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  transform-origin: right top;
  transform: translate(-30%) rotate(-45deg);
  background: #08769b;
  color: #fff;
  box-shadow: 0 0 0 50px #08769b;
  clip-path: inset(0 -100%);
  text-decoration:none;
}
#bmc-wbtn {
  position: fixed; 
  left: 15px; 
  bottom: 60px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 52px; 
  height: 52px; 
  background: rgb(8, 118, 155);
  border-radius: 32px; 
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px;
}
#bmc-wbtn img {
  height: 40px; 
  width: 40px;
}